.Rowpost{
    
    color: #fff;
}
.posters{
    display: flex;
    border-radius: 3px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /*firefox*/
}
.posters::-webkit-scrollbar{
    display:hidden;
}
.poster{
    padding: 3px;
    max-height: 16em;
   
}