.Rowpost{
    
    color: #fff;
}
.posters{
    display: flex;
    border-radius: 3px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /*firefox*/
}
.posters::-webkit-scrollbar{
    display:hidden;
}
.poster{
    margin: 0.9em 0.1em;
    padding: 3px;
    cursor: pointer;
    border-radius: 15px;
    
    transition: all .2s ease-in-out;
}
.poster:hover{
    transform: scale(1.1);
}
.normalposter{
    max-height: 14em;
}

.smallposter{
max-height: 8em;
}
.movies-title{
    margin-left: 1em;
}
